@mixin content1(){
    // mobile
    section{
        .container-sec1{
            margin: 0 2.1875rem;
            padding: 7.25rem 0 0 0;
            @include flex-column(2.0625rem);
    
            .heading{
                height: 100%;
                @include flex-column(1.0625rem);
                h1{
                    @include semibold(2.375rem, 2.9375rem, $primary2);
                    text-align: center;
                }
                p{
                    @include regular(1rem, 1.5rem, $primary2);
                    text-align: center;
    
                    br{
                        display: none
                    }
                }
            }
    
            .content{
                @include flex-column(3.5rem);
                height: 100%;
    
                button{
                    align-self: center;
                    @include btn(13.1875rem, 3.5rem, 4.1875rem, $primary1, none, $primary4);
                    @include semibold(1.375rem, 1.5, $primary4);
                    cursor: pointer;
                }
    
                .images{
                    @include flex-column(1.75rem);
                    
                    .image-container{
                        position: relative;

                        img{
                            width: 100%;
                            display: block;
                        }

                        .image-overley{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 1rem;
                            cursor: pointer;
                            transition: 1s;
                            opacity: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            h3{
                                @include semibold(2rem,1.5rem,$primary4);
                            }
                        }
                    }

                    .image-container:hover{

                        .image-overley{
                            background-color: rgba(0,0,0,0.7);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}


@mixin content1-tablet(){
    // tablet
    section{
        .container-sec1{
            margin: 0 4.375rem;
            padding: 7.25rem 0 0 0;
    
            .heading{
                h1{
                    @include semibold(4.0625rem, 5.125rem, $primary2);
                }
                p{
                    @include regular(1rem, 1.5rem, $primary2);
    
                    br{
                        display: block
                    }
                }
            }
    
            .content{
    
                button{
                    @include btn(15.6875rem, 3.5rem, 4.1875rem, $primary1, none, $primary4);
                }
    
                .images{
                    @include flex-row(1.75rem);
                    align-items: center;
                    justify-content: center;
                    row-gap: 0;

                    .image-container:nth-child(1){
                        img{
                            content: url("../img/tablet/minimalistic.jpg");
                        }
                    }
                    .image-container:nth-child(2){

                        img{
                            content: url("../img/tablet/Clean-food.jpg");
                        }
                    }
                }
            }
        }
    }
}

@mixin content1-desktop(){
    // desktop
    section{
        .container-sec1{
            margin: 0 4.375rem;
            padding: 12.5rem 0 0 0;
            .heading{
                
                p{
    
                    br{
                        display: none
                    }
                }
            }
    
            .content{
    
                .images{
                    @include flex-row(clamp(1.25rem, -3.0723rem + 6.747vw, 3rem));

                    .image-container:nth-child(1){
                        img{
                            content: url("../img/desktop/minimalistic.jpg");
                        }
                    }
                    .image-container:nth-child(2){
                        img{
                            content: url("../img/desktop/Clean-food.jpg");
                        }
                    }
                }
            }
        }
    }
}

@mixin content1-desktop-xl(){
    // desktop xl
    section{
        .container-sec1{
            // padding: 12.5rem clamp(4.375rem, -40.7503rem + 50.1044vw, 19.375rem) 0 clamp(4.375rem, -40.7503rem + 50.1044vw, 19.375rem);
            
            padding: 12.5rem 0 0 0;
            max-width: 81.25rem;
            margin: 0 auto;
        }
    }
}