
// mobile screen
nav{

    .container-nav{
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        width: 100%;
        height: 4.375rem;
        background-color: $primary4;
        padding: 0 2.1875rem;
        transition: 1s;
        z-index: 999;

        .navbar{
            display: flex;
            width: 100%;
            margin-top: 21px;
            
            .nav-logo{
                display: flex;
                column-gap: 0.75rem;
                align-items: center;
            
                .circle{
                    width: 1.625rem;
                    height: 1.625rem;
                    border-radius: 50%;
                    background: $primary1;
                    transition: 1s;
                }

                .circle:hover{
                    background: $primary3
                }

                .logo-mobile{
                    .close{
                        @include semibold(1.3125rem, 1.5rem, $primary1);
                        text-decoration: none;
                        transition: 1s;
                    }
                    .close:hover{
                        color: $primary3;
                    }
                    .open{
                        display: none;
                        text-decoration: none;
                        @include semibold(1.3125rem, 1.5rem, $primary4);
                    }
                }

                .logo{
                    display: none;
                }

            }
            .nav-hamburger{
                margin-left: auto;
                transition: 1s;
                display: flex;
                align-items: center;

                img{
                    transform: rotate(0deg);
                    cursor: pointer;
                    transition:1s;
                }
                
            }
        }

        .nav-menu{
            height: 0%;
            width: 100%;
            display: flex;
            flex-direction: column;
            a{
                @include regular(0rem,0rem ,$primary2);
                opacity: 0;
                text-decoration: none;
                transition: 1s;
                text-align: center;
                display: none;
            }

            .menu-mobile{
                display: block;
            }

            .menu-icons{
                height: 0;
                transition: 1s;
                align-self: center;
                
                svg{
                    width: 0;
                    height: 0;
                    transition: 1s;
                    cursor: pointer;
                }
            }
        }

        
    }

    .container-nav.open{
        row-gap: 0.625rem;
        height: 25rem;
        padding: 2.1875rem 2.1875rem;
        background-color: $primary1;

        .navbar{

            .nav-logo{

                .circle{
                    background: $primary4;
                }

                .logo-mobile{

                    .close{
                        display: none;
                    }

                    .open{
                        display: inline;
                        transition:1s;
                    }
                }
            }

            .nav-logo:hover{
                .circle{
                    width: 2.25rem;
                    height: 2.25rem;
                    background: $primary3;
                }

                .logo-mobile{
                    .open{
                        @include semibold(1.8rem, 1.5rem, $primary3);
                    }
                }
            }

            .nav-hamburger{

                img{
                    transform: rotate(180deg);
                }
            }
        }

        .nav-menu{
            height: 75%;
            a{
                padding: 0.875rem;
                transition: 1s;
                opacity: 1;
                @include regular(1rem,1.5rem ,$primary4);
            }

            a:hover{
                text-decoration:underline;
                color: $primary3;
            }

            .menu-icons{
                height: 1.6875rem;

                svg{
                    width: 1.6875rem;
                    height: 1.6875rem;
                    margin: 0 0.5rem;
                }
            }
        }
    }

}

// tablet
@media screen and (min-width:700px) {
    nav{
        .container-nav{
            flex-direction: row;
            padding: 0 4.3125rem 0 5.5rem;

            .navbar{
                margin-top: 0;
                width:max-content;

                .nav-logo{

                    .logo-mobile{
                        display: none;
                    }

                    .circle:hover{
                        background: $primary3;
                    }

                    .logo{
                        display: inline;

                        a{
                            @include semibold(1.3125rem, 1.5rem, $primary1);
                            text-decoration: none;
                            transition: 1s;
                        }

                        a:hover{
                            color: $primary3;
                        }
                    }
                }
                
                .nav-hamburger{
                    display: none;
                }
            }
            .nav-menu{
                height:100% ;
                width: max-content;
                flex-direction: row;
                margin-left: auto;
                align-items: center;
                column-gap: 1.25rem;


                .menu-mobile{
                    display: none;
                }

                .menu{
                    display: inline;
                    @include regular(1rem, 1.5rem, $primary2);
                    opacity:1;
                }

                .menu:hover{
                    text-decoration: underline;
                    color: $primary3;
                }
                
                

                .menu-icons{
                    display: none;
                }
            }
        }
    }
}

// desktop
@media screen and (min-width:1025px) {
    nav{
        .container-nav{
            padding: 0 4.375rem 0 clamp(4.375rem, 1.5964rem + 4.3373vw, 5.5rem);
            .nav-menu{
                column-gap: 2.5rem;
            }
        }
    }
}

@media screen and (min-width:1441px) {
    // desktop-xl
    nav{
        .container-nav{
            padding: 0 clamp(4.375rem, -40.7503rem + 50.1044vw, 19.375rem) 0 clamp(5.53125rem, -38.9359rem + 49.3737vw, 20.3125rem);
        }
    }
}